<!--Visualforce page for the redirection of events to the right VF page or layout
Created: June 17 2013
Last modified: June 17 2013
Bluewolf
Related requirements: ALL - Redirects to the appropriate page or 
                      layout on event modification
-->
<apex:page standardController="Medical_Event_vod__c"  extensions="Event_Dispatcher_Update" action="{!dispathUpd}">
  <apex:actionStatus startText="Redirecting..." stopText="" id="redirStatus"/>
</apex:page>