<!--Visualforce component for the creation of meeting attendees
Created: June 6 2013
Created by: Bluewolf

Modified by: Khodabocus Zameer (ICBWORKS)
Date last modified: 20.03.2014
Email: zameer.khodabocus@icbworks.com 
Related requirements: DMP1,DMP9,DMP13,DMP17,ALPHA REVIEW COMMENTS,BETA REVIEW COMMENTS
-->
<apex:component controller="EV_Attendees_Comp_Controller" allowDML="true" id="attComp">
<script> 
    function selectUnselectAll(id){
        var chkAll = document.getElementById(id);

        if(chkAll != null){
            for(i = 0; i < 50; i++){
                var chkbx = document.getElementById("page:main_form:detail_block:attendees:attComp:pgBlk:searchTable:" + i + ":selected");

                if(chkbx != null){
                    if(chkAll.checked == true){
                        chkbx.checked = true;
                    }else{
                        chkbx.checked = false;
                    } 
                }else{
                    chkbx = document.getElementById("j_id0:j_id1:attendees:attComp:pgBlk1:searchTable:" + i + ":selected");
                    
                    if(chkbx != null){
                        if(chkAll.checked == true){
                            chkbx.checked = true;
                        }else{
                            chkbx.checked = false;
                        }
                    }else{
                        chkbx = document.getElementById("j_id0:j_id1:attendees:attComp:pgBlk:searchTable:" + i + ":selected");
                        
                        if(chkbx != null){
                            if(chkAll.checked == true){
                                chkbx.checked = true;
                            }else{
                                chkbx.checked = false;
                            }
                        }
                    }
                }
            }
        }
    }
    
    function selectUnselectAllAtt(id){
        var chkAllAtt = document.getElementById(id);

        if(chkAllAtt != null){
            for(i = 0; i < 50; i++){
                var chkbx = document.getElementById("page:main_form:detail_block:attendees:attComp:pgBlk:attTable:" + i + ":selectAtt");

                if(chkbx != null){
                    if(chkAllAtt.checked == true){
                        chkbx.checked = true;
                    }else{
                        chkbx.checked = false;
                    }
                }else{
                    chkbx = document.getElementById("j_id0:j_id1:attendees:attComp:pgBlk1:attTable1:" + i + ":selectAtt");
                    
                    if(chkbx != null){
                        if(chkAllAtt.checked == true){
                            chkbx.checked = true;
                        }else{
                            chkbx.checked = false;
                        }
                    }else{
                        chkbx = document.getElementById("j_id0:j_id1:attendees:attComp:pgBlk:attTable:" + i + ":selectAtt");
                        
                        if(chkbx != null){
                            if(chkAllAtt.checked == true){
                                chkbx.checked = true;
                            }else{
                                chkbx.checked = false;
                            }
                        }
                    }
                }
            }
        }
    }
    
    function inviteMethod(id){
        var im = document.getElementById(id);
        var elem = id.replace("im","elemId");
        
        var elemId = document.getElementById(elem);
        var imList = document.getElementById("page:main_form:detail_block:attendees:attComp:pgBlk:imList");
        
        if(imList != null){
            if(imList.value == ""){
                imList.value = elemId.value + ':' + im.value;
            }else{
                imList.value += ',' + elemId.value + ':' + im.value;
            }
        }else{
            imList = document.getElementById("j_id0:j_id1:attendees:attComp:pgBlk:imList");
            
            if(imList != null){
                if(imList.value == ""){
                    imList.value = elemId.value + ':' + im.value;
                }else{
                    imList.value += ',' + elemId.value + ':' + im.value;
                }
            }
        }
    }
</script>
<style>
#disablingDiv{
    display: none;z-index:9998;position: fixed;top: 0%;left: 0%;width:100%;height: 100%;
    background-color:white;opacity:0.5;filter: alpha(opacity=00);
}
</style>

<div id="disablingDiv" ></div>
<div id="loading" style="position:fixed;left:50%;top:50%;z-index:100;z-index:9999;">
    <apex:actionStatus id="status_refresh" onstart="document.getElementById('disablingDiv').style.display='block';" onstop="document.getElementById('disablingDiv').style.display='none';">
        <apex:facet name="start">
            <apex:outputPanel ><apex:image url="{!$Resource.ProcessingGif}" alt="Please Wait..." style="padding-left:5px; padding-right:5px;"/><apex:outputText style="color:#FF0000;" value="Please Wait..." /></apex:outputPanel>
        </apex:facet>
    </apex:actionStatus>
</div> 
   <!-- Set a reference tho the meeting component controller -->
     <apex:attribute name="meetingPage" 
      type="Meeting_Event_Extension" 
      assignTo="{!mainPageController}" 
      required="true" 
      description="The meeting controller" />
    
    <apex:pageMessages escape="false" id="errmsg" /><!-- rendered="{!isAfterApproved}" -->
    
    <apex:pageblock title="Manage Event Invitees" id="pgBlk" rendered="{!isConfirmAtt = false}"> 
        <!-- Search section -->
        <apex:pageblockSection title="Search Criteria: (Select name and/or two others)" columns="2">
                 <apex:pageBlockSectionItem >
                     <apex:panelGroup >
                         <apex:outputlabel value="By Name" styleClass="labelCol"/>                  
                         <apex:inputText value="{!nameTxt}"/>           
                     </apex:panelGroup>   
                 </apex:pageBlockSectionItem>
             
                 <apex:pageBlockSectionItem >
                     <apex:panelGroup >
                         <apex:outputlabel value="By Postcode" styleClass="labelCol"/>
                         <apex:inputText value="{!zipTxt}"/>    
                     </apex:panelGroup>             
                 </apex:pageBlockSectionItem>
         
                 <apex:pageBlockSectionItem >  
                     <apex:panelGroup >
                         <apex:outputlabel value="By Suburb" styleClass="labelCol"/> 
                         <apex:inputText value="{!subTxt}"/>    
                      </apex:panelGroup>                  
                 </apex:pageBlockSectionItem>                           
                    
                 <apex:pageBlockSectionItem >   
                     <apex:panelGroup >
                        <apex:outputlabel value="By Professional type" styleClass="labelCol"/>
                        <apex:selectList value="{!myProftype}" size="1">
                            <apex:selectOptions value="{!profTypes}"/>
                        </apex:selectList>    
                    </apex:panelGroup>                  
                 </apex:pageBlockSectionItem>
                 
                 <apex:pageBlockSectionItem >   
                     <apex:panelGroup >
                        <apex:outputlabel value="By Specialty" styleClass="labelCol"/>
                        <apex:selectList value="{!mySpec}" size="1">
                            <apex:selectOptions value="{!itemsSpecialty}"/>
                        </apex:selectList>    
                    </apex:panelGroup>                  
                 </apex:pageBlockSectionItem>  
                 
                 <apex:pageBlockSectionItem >  
                     <apex:panelGroup >
                        <apex:outputlabel value="By Product" styleClass="labelCol"/>
                        <apex:selectList id="selectProd" value="{!myProds}" size="1" onchange="classiValid(this)">
                            <apex:selectOptions value="{!itemsProds}"/>
                        </apex:selectList>  
                      </apex:panelGroup>                   
                 </apex:pageBlockSectionItem>     
                 
                 <apex:pageBlockSectionItem >   
                     <apex:panelGroup >
                        <apex:outputlabel value="By Specialty 2" styleClass="labelCol"/>
                        <apex:selectList value="{!mySpec2}" size="1">
                            <apex:selectOptions value="{!itemsSpecialty2}"/>
                        </apex:selectList>
                    </apex:panelGroup>                  
                 </apex:pageBlockSectionItem> 
                 
                 <apex:pageBlockSectionItem />
                 
                 <apex:pageBlockSectionItem >   
                     <apex:panelGroup >
                        <apex:outputlabel value="Include Secondary Addresses" styleClass="labelCol"/>
                        <apex:inputCheckbox value="{!secondAdd}" />
                    </apex:panelGroup>                  
                 </apex:pageBlockSectionItem> 
                 
                 <apex:pageBlockSectionItem >   
                     <apex:panelGroup >
                        <apex:outputlabel value="By Classification" styleClass="labelCol"/>
                        <apex:selectList id="selectClassi" value="{!myClassif}" multiselect="true" size="3" onchange="validateClf(this)">
                            <apex:selectOptions value="{!itemsClassif}"/>
                        </apex:selectList>  
                            <script language="JavaScript">
                               function validateClf(a)
                               {
                                 var SelBranchVal = "";                     
                                 for (var x=0;x<a.length;x++)
                                 {
                                    if(a[x].selected && a[x].value == '')
                                    {
                                         for (var i=0;i<a.length;i++){
                                            a[i].selected = false;
                                         }
                                         break;
                                    }
                                 }
                               }
                               
                             //ICBWORKS - Disable Classification if no Product selected
                                 var classi = document.getElementById('page:main_form:detail_block:attendees:attComp:pgBlk:j_id365:j_id397:selectClassi');
                                 
                                 if(classi == null){
                                    classi = document.getElementById('j_id0:j_id1:attendees:attComp:pgBlk:j_id28:j_id60:selectClassi');
                                 }
                                 
                                 function classiValid(a){
                                    if(a != null){
                                         if(a.value == 'NONE'){
                                             for (var i=0;i<classi.length;i++){
                                                 classi[i].selected = false;
                                             }
                                             classi.disabled = true;
                                         }
                                         else{                         
                                             classi.disabled = false;
                                         }
                                    }
                                 }
                                 
                                 var prodId = document.getElementById('page:main_form:detail_block:attendees:attComp:pgBlk:j_id365:j_id388:selectProd');
                                 
                                 if(prodId != null){
                                    classiValid(prodId);
                                 }else{
                                    prodId = document.getElementById('j_id0:j_id1:attendees:attComp:pgBlk:j_id28:j_id51:selectProd');
                                    
                                    if(prodId != null){
                                        classiValid(prodId);
                                    }
                                 }
                                 
                          </script>  
                    </apex:panelGroup>                  
                 </apex:pageBlockSectionItem> 
                 
                 <apex:pageBlockSectionItem >                             
                   <apex:panelGroup >   
                        <apex:commandButton value="Search" action="{!startSearch}" rerender="searchResults,errmsg" status="status_refresh"/>                                    
                        <apex:commandButton value="Add to Invitees" action="{!addToAttendees}" rerender="searchResults,addedResults,errmsg" status="status_refresh"/>
                   </apex:panelGroup> 
                </apex:pageBlockSectionItem> 
                                                                                       
            </apex:pageblockSection> 
            
            <apex:outputPanel id="searchResults">
                <apex:pageBlockTable id="searchTable" value="{!inviteeResults}" var="ir" columns="7" >  
                    <apex:column >     
                        <apex:facet name="header">
                            <apex:panelGroup >
                                <input type="checkbox" name="checkbox" id="allCheckbox" onchange="selectUnselectAll(this.id);"/>
                            </apex:panelGroup>
                        </apex:facet>
                            <apex:inputCheckbox value="{!ir.JJ_Selected__c}" id="selected" />   
                    </apex:column>                  
                    <apex:column >                     
                        <apex:facet name="header">Name</apex:facet>
                        <apex:outputField value="{!ir.JJ_Account_Name__c}" />
                    </apex:column>        
                    <apex:column >     
                        <apex:facet name="header">Target Status</apex:facet>
                        <apex:outputLabel value="{!ir.JJ_Account_Target__c}" />
                    </apex:column>   
                    <apex:column >     
                        <apex:facet name="header">Position</apex:facet>
                        <apex:outputText value="{!ir.JJ_Account_Position__c}"/>
                    </apex:column>
                    <apex:column >     
                        <apex:facet name="header">Suburb</apex:facet>
                        <apex:outputLabel value="{!ir.JJ_Address_Suburb__c}"/>
                    </apex:column>   
                    <apex:column >     
                        <apex:facet name="header">State</apex:facet>
                        <apex:outputLabel value="{!ir.JJ_Address_State__c}"/>
                    </apex:column>     
                   <apex:column >     
                        <apex:facet name="header">Primary address?</apex:facet>
                        <apex:outputLabel value="{!ir.JJ_Address_Primary__c}" />
                    </apex:column>                                                            
                 </apex:pageBlockTable> 
                 
                 <apex:outputPanel rendered="{!showPagination && resultsSize>0}" id="searchTableLinks">
                     <table width="100%" border="0" cellpadding="8">
                        <tr>
                            <td align="right" width="50%" style="vertical-align:bottom;">
                                <apex:commandLink onclick="this.style.pointerEvents = 'none'" action="{!firstAWSearch}" style="text-decoration:none;{!IF(previousAW > 0,'pointer-Events:auto;opacity:1;','pointer-Events:none;opacity:0.5;')}" id="first" reRender="searchResults,errmsg" status="status_refresh">|&#9668; First</apex:commandLink>
                                &nbsp;&nbsp;&nbsp;
                                <apex:commandLink onclick="this.style.pointerEvents = 'none'" action="{!previousAWSearch}" style="text-decoration:none;{!IF(previousAW > 0,'pointer-Events:auto;opacity:1;','pointer-Events:none;opacity:0.5;')}" id="previous" reRender="searchResults,errmsg" status="status_refresh">&#9668;&#9668; Previous</apex:commandLink>
                           </td>
                            <td width="35%" align="left" style="vertical-align:bottom;"> 
                                <apex:commandLink onclick="this.style.pointerEvents = 'none'" action="{!nextAWSearch}" style="text-decoration:none;{!IF(nextAW < resultsSize,'pointer-Events:auto;opacity:1;','pointer-Events:none;opacity:0.5;')}" id="next" reRender="searchResults,errmsg" status="status_refresh">Next &#9658;&#9658;</apex:commandLink>
                                &nbsp;&nbsp;&nbsp;
                                <apex:commandLink onclick="this.style.pointerEvents = 'none'" action="{!lastAWSearch}" style="text-decoration:none;{!IF(nextAW < resultsSize,'pointer-Events:auto;opacity:1;','pointer-Events:none;opacity:0.5;')}" id="last" reRender="searchResults,errmsg" status="status_refresh">Last &#9658;|</apex:commandLink>
                            </td>
                            <td align="right" width="15%" style="vertical-align:bottom;">
                                Page&nbsp;                            
                                <apex:selectList value="{!currPageNum}" size="1">
                                    <apex:selectOptions value="{!PageNumOpts}"/>
                                    <apex:actionSupport action="{!changePageNum}" event="onchange" reRender="searchResults,errmsg" status="status_refresh"/>
                                </apex:selectList>
                                
                                &nbsp;of&nbsp;{!CEILING((resultsSize/50))}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" align="center">
                                <apex:outputText value="{!warningLimitMsg}" rendered="{!showWarningLimitMsg}" />
                            </td>
                        </tr>
                     </table>
                 </apex:outputPanel>
             </apex:outputPanel>
                                          
            <!-- Attendee section rerender="attTable"-->
            <apex:pageblockSection title="Invitee List"> 
            </apex:pageblockSection>
            <table cellpadding="3"> 
                <tr>
                    <td>
                        <apex:commandButton value="Remove Invitees" action="{!removeAtt}" rerender="searchResults,addedResults,errmsg" status="status_refresh"/> 
                    </td>
                    <td>
                        <apex:commandButton value="Save Changes" action="{!mySave}" rendered="{!renderSaveButton}"/>     
                    </td>
                    <td>
                        <apex:commandButton value="Cancel" action="{!goBack}" rendered="{!renderSaveButton}"/>
                    </td>
                </tr>
            </table>  
            
            <apex:inputHidden value="{!inviteeMethodsList}" id="imList" />
            
            <apex:outputPanel id="addedResults">
                <apex:pageBlockTable id="attTable" value="{!existingResultsList}" var="elem" columns="8" width="100%">  
                    <apex:column >     
                        <apex:facet name="header">
                            <apex:panelGroup >
                                <input type="checkbox" name="checkbox" id="allAttCheckbox" onchange="selectUnselectAllAtt(this.id);"/>
                            </apex:panelGroup>
                        </apex:facet>
                        <apex:inputCheckbox value="{!elem.JJ_Selected__c}" id="selectAtt"/>
                    </apex:column>                  
                    <apex:column >                     
                        <apex:facet name="header">Name</apex:facet>
                        <apex:outputLabel value="{!elem.JJ_Account_Name__c}" />
                    </apex:column>        
                    <apex:column >     
                        <apex:facet name="header">Invite Method</apex:facet>
                        <apex:inputField value="{!elem.JJ_Invite_Method__c}" onchange="inviteMethod(this.id);" id="im"/>
                        <apex:inputHidden value="{!elem.JJ_ID__c}" id="elemId" />
                    </apex:column>
                    <apex:column >     
                        <apex:facet name="header">Target Status</apex:facet>
                        <apex:outputLabel value="{!elem.JJ_Account_Target__c}"/>
                    </apex:column>   
                    <apex:column >     
                        <apex:facet name="header">Position</apex:facet>
                        <apex:outputText value="{!elem.JJ_Account_Position__c}"/>
                    </apex:column>
                    <apex:column >     
                        <apex:facet name="header">Suburb</apex:facet>
                        <apex:outputLabel value="{!elem.JJ_Address_Suburb__c}"/>
                    </apex:column>        
                   <apex:column >     
                        <apex:facet name="header">Primary address?</apex:facet>
                        <apex:outputLabel value="{!elem.JJ_Address_Primary__c}" />
                    </apex:column>  
                    <apex:column >     
                        <apex:facet name="header">Primary Account</apex:facet>
                        <apex:outputLabel value="{!elem.JJ_Primary_Account__c}" />
                    </apex:column>                                                     
                 </apex:pageBlockTable>   
                 <apex:outputPanel rendered="{!showSelPagination && selResultsSize>0}" id="searchSelTableLinks">
                     <table width="100%" border="0" cellpadding="8">
                        <tr>
                            <td align="right" width="50%" style="vertical-align:bottom;">
                                <apex:commandLink onclick="this.style.pointerEvents = 'none'" action="{!firstSelAWSearch}" style="text-decoration:none;{!IF(previousSelAW > 0,'pointer-Events:auto;opacity:1;','pointer-Events:none;opacity:0.5;')}" id="firstSel" reRender="addedResults,errmsg" status="status_refresh">|&#9668; First</apex:commandLink>
                                &nbsp;&nbsp;&nbsp;
                                <apex:commandLink onclick="this.style.pointerEvents = 'none'" action="{!previousSelAWSearch}" style="text-decoration:none;{!IF(previousSelAW > 0,'pointer-Events:auto;opacity:1;','pointer-Events:none;opacity:0.5;')}" id="previousSel" reRender="addedResults,errmsg" status="status_refresh">&#9668;&#9668; Previous</apex:commandLink>
                           </td>
                            <td width="35%" align="left" style="vertical-align:bottom;"> 
                                <apex:commandLink onclick="this.style.pointerEvents = 'none'" action="{!nextSelAWSearch}" style="text-decoration:none;{!IF(nextSelAW < selResultsSize,'pointer-Events:auto;opacity:1;','pointer-Events:none;opacity:0.5;')}" id="nextSel" reRender="addedResults,errmsg" status="status_refresh">Next &#9658;&#9658;</apex:commandLink>
                                &nbsp;&nbsp;&nbsp;
                                <apex:commandLink onclick="this.style.pointerEvents = 'none'" action="{!lastSelAWSearch}" style="text-decoration:none;{!IF(nextSelAW < selResultsSize,'pointer-Events:auto;opacity:1;','pointer-Events:none;opacity:0.5;')}" id="lastSel" reRender="addedResults,errmsg" status="status_refresh">Last &#9658;|</apex:commandLink>
                            </td>
                            <td align="right" width="15%" style="vertical-align:bottom;">
                                Page&nbsp;                            
                                <apex:selectList value="{!currSelPageNum}" size="1" id="pagenum">
                                    <apex:selectOptions value="{!SelPageNumOpts}"/>
                                    <apex:actionSupport action="{!changeSelPageNum}" event="onchange" reRender="addedResults,errmsg" status="status_refresh"/>
                                </apex:selectList>
                                
                                &nbsp;of&nbsp;{!CEILING((selResultsSize/50))}
                            </td>
                        </tr>
                     </table>
                 </apex:outputPanel>      
             </apex:outputPanel>     
    </apex:pageblock>
    <apex:pageblock title="Manage Event Attendees" id="pgBlk1" rendered="{!isConfirmAtt}"> 
        <!-- Search section -->
        <apex:pageblockSection title="Search Criteria: (Select name and/or two others)" columns="2">
                 <apex:pageBlockSectionItem >
                     <apex:panelGroup >
                         <apex:outputlabel value="By Name" styleClass="labelCol"/>                  
                         <apex:inputText value="{!nameTxt}"/>           
                     </apex:panelGroup>   
                 </apex:pageBlockSectionItem>
             
                 <apex:pageBlockSectionItem >
                     <apex:panelGroup >
                         <apex:outputlabel value="By Postcode" styleClass="labelCol"/>
                         <apex:inputText value="{!zipTxt}"/>    
                     </apex:panelGroup>             
                 </apex:pageBlockSectionItem>
         
                 <apex:pageBlockSectionItem >  
                     <apex:panelGroup >
                         <apex:outputlabel value="By Suburb" styleClass="labelCol"/> 
                         <apex:inputText value="{!subTxt}"/>    
                      </apex:panelGroup>                  
                 </apex:pageBlockSectionItem>      
                 
                 <apex:pageBlockSectionItem >   
                     <apex:panelGroup >
                        <apex:outputlabel value="By Professional type" styleClass="labelCol"/>
                        <apex:selectList value="{!myProftype}" size="1">
                            <apex:selectOptions value="{!profTypes}"/>
                        </apex:selectList>    
                    </apex:panelGroup>                  
                 </apex:pageBlockSectionItem>                      
                 
                 <apex:pageBlockSectionItem >   
                     <apex:panelGroup >
                        <apex:outputlabel value="By Specialty" styleClass="labelCol"/>
                        <apex:selectList value="{!mySpec}" size="1">
                            <apex:selectOptions value="{!itemsSpecialty}"/>
                        </apex:selectList>    
                    </apex:panelGroup>                  
                 </apex:pageBlockSectionItem>  
                    
                 <apex:pageBlockSectionItem >  
                     <apex:panelGroup >
                        <apex:outputlabel value="By Product" styleClass="labelCol"/>
                        <apex:selectList id="selectProd1" value="{!myProds}" size="1" onchange="classiValid(this)">
                            <apex:selectOptions value="{!itemsProds}"/>
                        </apex:selectList>  
                      </apex:panelGroup>                   
                 </apex:pageBlockSectionItem> 
                 
                 <apex:pageBlockSectionItem >   
                     <apex:panelGroup >
                        <apex:outputlabel value="By Specialty 2" styleClass="labelCol"/>
                        <apex:selectList value="{!mySpec2}" size="1">
                            <apex:selectOptions value="{!itemsSpecialty2}"/>
                        </apex:selectList>
                    </apex:panelGroup>                  
                 </apex:pageBlockSectionItem> 
                 
                 <apex:pageBlockSectionItem />
                 <apex:pageBlockSectionItem >   
                     <apex:panelGroup >
                        <apex:outputlabel value="Include Secondary Addresses" styleClass="labelCol"/>
                        <apex:inputCheckbox value="{!secondAdd}" />
                    </apex:panelGroup>                  
                 </apex:pageBlockSectionItem> 

                 <apex:pageBlockSectionItem >   
                     <apex:panelGroup >
                        <apex:outputlabel value="By Classification" styleClass="labelCol"/>
                        <apex:selectList id="selectClassi1" value="{!myClassif}" multiselect="true" size="3" onchange="validateClf(this)">
                            <apex:selectOptions value="{!itemsClassif}"/>
                        </apex:selectList>  
                            <script language="JavaScript">
                               function validateClf(a)
                               {
                                 var SelBranchVal = "";                     
                                 for (var x=0;x<a.length;x++)
                                 {
                                    if(a[x].selected && a[x].value == '')
                                    {
                                         for (var i=0;i<a.length;i++){
                                            a[i].selected = false;
                                         }
                                         break;
                                    }
                                 }
                               }
                               
                               //ICBWORKS - Disable Classification if no Product selected
                                 var classi = document.getElementById('j_id0:j_id1:attendees:attComp:pgBlk1:j_id141:j_id173:selectClassi1');
                                 
                                 function classiValid(a){
                                     if(a.value == 'NONE'){
                                         for (var i=0;i<classi.length;i++){
                                             classi[i].selected = false;
                                         }
                                         classi.disabled = true;
                                     }
                                     else{                          
                                         classi.disabled = false;
                                     }
                                 }
                                 
                                 classiValid(document.getElementById('j_id0:j_id1:attendees:attComp:pgBlk1:j_id141:j_id164:selectProd1'));
                          </script>  
                    </apex:panelGroup>                  
                 </apex:pageBlockSectionItem> 
                 
                 <apex:pageBlockSectionItem >                             
                   <apex:panelGroup >   
                        <apex:commandButton value="Search" action="{!startSearch}" rerender="searchResults1,errmsg" status="status_refresh"/>                                    
                        <apex:commandButton value="Add to Walk Ins" action="{!addToAttendees}" rerender="searchResults1,addedResults1,errmsg" status="status_refresh"/>
                   </apex:panelGroup> 
                </apex:pageBlockSectionItem> 
                                                                                       
            </apex:pageblockSection> 
            
            <apex:outputPanel id="searchResults1">
                <apex:pageBlockTable id="searchTable" value="{!inviteeResults}" var="ir" columns="7" >  
                    <apex:column >     
                        <apex:facet name="header">
                            <apex:panelGroup >
                                <input type="checkbox" name="checkbox" id="allCheckbox" onchange="selectUnselectAll(this.id);"/>
                            </apex:panelGroup>
                        </apex:facet>
                            <apex:inputCheckbox value="{!ir.JJ_Selected__c}" id="selected" />   
                    </apex:column>                  
                    <apex:column >                     
                        <apex:facet name="header">Name</apex:facet>
                        <apex:outputField value="{!ir.JJ_Account_Name__c}" />
                    </apex:column>        
                    <apex:column >     
                        <apex:facet name="header">Target Status</apex:facet>
                        <apex:outputLabel value="{!ir.JJ_Account_Target__c}" />
                    </apex:column>   
                    <apex:column >     
                        <apex:facet name="header">Position</apex:facet>
                        <apex:outputText value="{!ir.JJ_Account_Position__c}"/>
                    </apex:column>
                    <apex:column >     
                        <apex:facet name="header">Suburb</apex:facet>
                        <apex:outputLabel value="{!ir.JJ_Address_Suburb__c}"/>
                    </apex:column>   
                    <apex:column >     
                        <apex:facet name="header">State</apex:facet>
                        <apex:outputLabel value="{!ir.JJ_Address_State__c}"/>
                    </apex:column>     
                   <apex:column >     
                        <apex:facet name="header">Primary address?</apex:facet>
                        <apex:outputLabel value="{!ir.JJ_Address_Primary__c}" />
                    </apex:column>                                                            
                 </apex:pageBlockTable> 
                 
                 <apex:outputPanel rendered="{!showPagination && resultsSize>0}" id="searchTableLinks1">
                     <table width="100%" border="0" cellpadding="8">
                        <tr>
                            <td align="right" width="50%" style="vertical-align:bottom;">
                                <apex:commandLink onclick="this.style.pointerEvents = 'none'" action="{!firstAWSearch}" style="text-decoration:none;{!IF(previousAW > 0,'pointer-Events:auto;opacity:1;','pointer-Events:none;opacity:0.5;')}" id="first" reRender="searchResults1,errmsg" status="status_refresh">|&#9668; First</apex:commandLink>
                                &nbsp;&nbsp;&nbsp;
                                <apex:commandLink onclick="this.style.pointerEvents = 'none'" action="{!previousAWSearch}" style="text-decoration:none;{!IF(previousAW > 0,'pointer-Events:auto;opacity:1;','pointer-Events:none;opacity:0.5;')}" id="previous" reRender="searchResults1,errmsg" status="status_refresh">&#9668;&#9668; Previous</apex:commandLink>
                           </td>
                            <td width="35%" align="left" style="vertical-align:bottom;"> 
                                <apex:commandLink onclick="this.style.pointerEvents = 'none'" action="{!nextAWSearch}" style="text-decoration:none;{!IF(nextAW < resultsSize,'pointer-Events:auto;opacity:1;','pointer-Events:none;opacity:0.5;')}" id="next" reRender="searchResults1,errmsg" status="status_refresh">Next &#9658;&#9658;</apex:commandLink>
                                &nbsp;&nbsp;&nbsp;
                                <apex:commandLink onclick="this.style.pointerEvents = 'none'" action="{!lastAWSearch}" style="text-decoration:none;{!IF(nextAW < resultsSize,'pointer-Events:auto;opacity:1;','pointer-Events:none;opacity:0.5;')}" id="last" reRender="searchResults1,errmsg" status="status_refresh">Last &#9658;|</apex:commandLink>
                            </td>
                            <td align="right" width="15%" style="vertical-align:bottom;">
                                Page&nbsp;                            
                                <apex:selectList value="{!currPageNum}" size="1">
                                    <apex:selectOptions value="{!PageNumOpts}"/>
                                    <apex:actionSupport action="{!changePageNum}" event="onchange" reRender="searchResults1,errmsg" status="status_refresh"/>
                                </apex:selectList>
                                
                                &nbsp;of&nbsp;{!CEILING((resultsSize/50))}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" align="center">
                                <apex:outputText value="{!warningLimitMsg}" rendered="{!showWarningLimitMsg}" />
                            </td>
                        </tr>
                     </table>
                 </apex:outputPanel>
            </apex:outputPanel>
                                          
            <!-- Attendee section rerender="attTable"-->
            <apex:pageblockSection title="Attendee List">
            </apex:pageblockSection>
            <table cellpadding="3"> 
                <tr>
                    <td>
                        <apex:commandButton value="Remove Walk Ins" action="{!removeAtt}" rerender="searchResults1,addedResults1,errmsg" status="status_refresh"/> 
                    </td>
                    <td>
                        <apex:commandButton value="Save Changes" action="{!mySave}" rendered="{!renderSaveButton}"/>
                    </td>
                    <td>
                        <apex:commandButton value="Cancel" action="{!goBack}" rendered="{!renderSaveButton}"/>
                    </td>
                </tr>
            </table>  
            
            <apex:outputPanel id="addedResults1">
                <apex:pageBlockTable id="attTable1" value="{!existingResultsList}" var="elem" columns="9" width="100%">  
                    <apex:column >     
                        <apex:facet name="header">
                            <apex:panelGroup >
                                <input type="checkbox" name="checkbox" id="allAttCheckbox" onchange="selectUnselectAllAtt(this.id);"/>
                            </apex:panelGroup>
                        </apex:facet>
                        <apex:inputCheckbox value="{!elem.JJ_Selected__c}" id="selectAtt"/>
                    </apex:column>                  
                    <apex:column >                     
                        <apex:facet name="header">Name</apex:facet>
                        <apex:outputLabel value="{!elem.JJ_Account_Name__c}" />
                    </apex:column>        
                    <apex:column >     
                        <apex:facet name="header">Attended?</apex:facet>
                        <apex:inputCheckbox value="{!elem.JJ_Attended__c}" />
                    </apex:column>
                    
                    <apex:column >     
                        <apex:facet name="header">Status</apex:facet>
                        <apex:outputLabel value="{!elem.JJ_Status__c}"/>
                    </apex:column>
                    <!-- Below Lines added by Sathya--->
                    <apex:column >     
                        <apex:facet name="header">Attendee Channel</apex:facet>
                        <apex:outputLabel value="{!elem.JJ_Attendee_Channel__c}"/>
                    </apex:column>
                    <!--End --->   
                    <apex:column >     
                        <apex:facet name="header">Position</apex:facet>
                        <apex:outputText value="{!elem.JJ_Account_Position__c}"/>
                    </apex:column>
                    <apex:column >     
                        <apex:facet name="header">Suburb</apex:facet>
                        <apex:outputLabel value="{!elem.JJ_Address_Suburb__c}"/>
                    </apex:column>        
                   <apex:column >     
                        <apex:facet name="header">Primary address?</apex:facet>
                        <apex:outputLabel value="{!elem.JJ_Address_Primary__c}" />
                    </apex:column>  
                    <apex:column >     
                        <apex:facet name="header">Primary Account</apex:facet>
                        <apex:outputLabel value="{!elem.JJ_Primary_Account__c}" />
                    </apex:column>                                                    
                 </apex:pageBlockTable>     
                 
                 <apex:outputPanel rendered="{!showSelPagination && selResultsSize>0}" id="searchSelTableLinks1">
                     <table width="100%" border="0" cellpadding="8">
                        <tr>
                            <td align="right" width="50%" style="vertical-align:bottom;">
                                <apex:commandLink onclick="this.style.pointerEvents = 'none'" action="{!firstSelAWSearch}" style="text-decoration:none;{!IF(previousSelAW > 0,'pointer-Events:auto;opacity:1;','pointer-Events:none;opacity:0.5;')}" id="firstSel" reRender="addedResults1,errmsg" status="status_refresh">|&#9668; First</apex:commandLink>
                                &nbsp;&nbsp;&nbsp;
                                <apex:commandLink onclick="this.style.pointerEvents = 'none'" action="{!previousSelAWSearch}" style="text-decoration:none;{!IF(previousSelAW > 0,'pointer-Events:auto;opacity:1;','pointer-Events:none;opacity:0.5;')}" id="previousSel" reRender="addedResults1,errmsg" status="status_refresh">&#9668;&#9668; Previous</apex:commandLink>
                           </td>
                            <td width="35%" align="left" style="vertical-align:bottom;"> 
                                <apex:commandLink onclick="this.style.pointerEvents = 'none'" action="{!nextSelAWSearch}" style="text-decoration:none;{!IF(nextSelAW < selResultsSize,'pointer-Events:auto;opacity:1;','pointer-Events:none;opacity:0.5;')}" id="nextSel" reRender="addedResults1,errmsg" status="status_refresh">Next &#9658;&#9658;</apex:commandLink>
                                &nbsp;&nbsp;&nbsp;
                                <apex:commandLink onclick="this.style.pointerEvents = 'none'" action="{!lastSelAWSearch}" style="text-decoration:none;{!IF(nextSelAW < selResultsSize,'pointer-Events:auto;opacity:1;','pointer-Events:none;opacity:0.5;')}" id="lastSel" reRender="addedResults1,errmsg" status="status_refresh">Last &#9658;|</apex:commandLink>
                            </td>
                            <td align="right" width="15%" style="vertical-align:bottom;">
                                Page&nbsp;                            
                                <apex:selectList value="{!currSelPageNum}" size="1">
                                    <apex:selectOptions value="{!SelPageNumOpts}"/>
                                    <apex:actionSupport action="{!changeSelPageNum}" event="onchange" reRender="addedResults1,errmsg" status="status_refresh"/>
                                </apex:selectList>
                                
                                &nbsp;of&nbsp;{!CEILING((selResultsSize/50))}
                            </td>
                        </tr>
                     </table>
                 </apex:outputPanel>       
        </apex:outputPanel>      
             
    </apex:pageblock>
</apex:component>